.Omnibar {
  left: calc(10vw - 1px);
  top: 0.5rem;
  width: calc(80vw + 2px);
}

.LH {
  --gruvbox-blue: rgb(106, 144, 135);
  --gruvbox-dark-gray: rgb(29, 32, 33);
  --gruvbox-white: rgb(235, 219, 178);

  background: var(--gruvbox-blue) !important;
  color: var(--gruvbox-dark-gray) !important;
  border: 0.02rem solid var(--gruvbox-white);
  border-radius: 0.1em;
  box-shadow: none;
}

.MC,
.MH {
  --gruvbox-orange: rgb(254, 128, 25);
  color: var(--gruvbox-orange) !important;
}

/* #omni */
:root {
  --gruvbox-primary-dark: rgb(40, 40, 40);
  --gruvbox-dark-gray: rgb(29, 32, 33);
  --gruvbox-orange: rgb(254, 128, 25);
  --gruvbox-white: rgb(235, 219, 178);
  --gruvbox-green: rgb(104, 157, 106);
  --gruvbox-blue: rgb(106, 144, 135);
}

body {
  padding: 0;
  border-radius: 1.25em;
}

body::after {
  padding: 3rem;
  border-radius: 1.25em;
  border: none;
}

#bar {
  background-color: var(--gruvbox-primary-dark);
}

#bar #toolbar {
  display: none;
}

#input {
  background-color: var(--gruvbox-dark-gray);
  border-color: var(--gruvbox-white);
}

.item {
  background-color: var(--gruvbox-primary-dark);
  cursor: pointer;
}

.item .bottom {
  color: var(--gruvbox-blue);
  text-align: center;
  margin-top: 0.75em;
}

.bottom > a {
  cursor: pointer;
  color: inherit;
}

.top .icon {
  fill: var(--gruvbox-white);
  margin-right: 1.2em;
}

.item.s {
  border: 1em solid var(--gruvbox-orange);
}

.title match {
  color: var(--gruvbox-orange);
  text-decoration: none;
}

match {
  color: var(--gruvbox-orange);
}

.bottom match {
  color: var(--gruvbox-white);
}

/* #find */

/* #find:host */
/* [ Rules _for web pages while only enabled when there's a FindMode_ go here. ] */
